.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #121212;
}

.footer__nav {
  margin: auto;
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.footer__link {
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.5;
}

p.footer__text {
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}

/* Мобильное устройство */

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .footer__nav {
    width: 281px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 16.39px;
  }

  p.footer__text {
    margin-top: 41px;
    font-size: 13px;
    line-height: 17.76px;
  }
}
