.gallery {

    position: relative;
    width: 100%;
    height: 717px;
}

.gallery__title-wrapper {

    position: absolute;
    top: 60px;
    left: auto;
    z-index: 10;
}

.gallery__title {

    color: #fff;
    font-size: 22px;
    line-height: 30.05px;
}

.gallery__desc {

    position: absolute;
    top: 575px;
    left: auto;
    width: 443px;
    font-size: 30px;
    line-height: 40.98px;
    color: #fff;
}

.gallery__slide {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.gallery__slide_active {

    opacity: 1;
}

.gallery__image {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__controls {

    display: flex;
    position: absolute;
    left: auto;
    bottom: 162px;
    z-index: 10;
    gap: 14px;
}

.gallery__control-prev,
.gallery__control-next {

    background: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.gallery__control-prev {

    background-image: url("../resources/gallery_button.png");
}

.gallery__control-next {

    background-image: url("../resources/gallery_button.png");
    transform: rotate(180deg);
}

.gallery__control-prev:hover,
.gallery__control-next:hover {

    opacity: 0.5;
}

 /* Планшет */

 @media (max-width: 1199px) {

    .gallery {

        width: 100%;
        height: 535px;
    }

    .gallery__title-wrapper {

        top: 79px;
        left: 50px;
    }

    .gallery__title {

        font-size: 20px;
        line-height: 27.32px;
    }

    .gallery__desc {

        top: 390px;
        left: 50px;
        width: 377px;
        font-size: 25px;
        line-height: 34.15px;
    }

    .gallery__controls {

        bottom: 148px;
        left: 40px;
    }

}


/* Мобильное устройство */

@media (max-width: 767px) {

    .gallery {

        height: 408px;
    }

    .gallery__title-wrapper {

        top: 61px;
        left: 12px;
    }

    .gallery__title {

        font-size: 14px;
        line-height: 19.12px;
    }

    .gallery__desc {

        top: 296px;
        left: 13px;
        width: 287px;
        font-size: 19.01px;
        line-height: 25.97px;
    }

    .gallery__controls {

        width: 80%;
        bottom: 189px;
        justify-content: space-between;
        
    }

    .gallery__control-prev,
    .gallery__control-next {

        width: 30px;
        height: 30px;
    }

}
