.intro-inner {

    /* Отступ секции сверху */
    padding-top: 70px;
}

.intro-inner__title {

    height: 121px;
    width: 956px;
    font-size: 60px;
    line-height: 60px;
}

.intro-inner__picture {

    /* Отступ картинки от текста */
    margin-top: 31px;
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url('../resources/Main_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.intro-inner__desc {

    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    height: 81px;
    color: #ffffff;
    font-size: 20px;
    line-height: 27.32px;
}

    /* Планшет */

@media (max-width: 1199px) {

    .intro-inner__title {
       
        width: 802px;
        height: 120px;
        font-size: 50px;
    }

    .intro-inner__picture {

        width: 100%;
        height: 400px;
        background-image: url('../resources/Main_banner_tablet.png');
    }

    .intro-inner__desc {

        bottom: 30px;
    }
}

/* Мобильное устройство */   

@media (max-width: 767px) {

    .intro-inner {

        /* Отступ секции сверху */
        padding-top: 56px;
    }

    .intro-inner__title {

        height: 95px;
        width: 348px;
        font-size: 31px;
        line-height: 33px;
    }

    .intro-inner__picture {

        /* Отступ картинки от текста */
        margin-top: 28px;
        width: 100%;
        height: 304px;
        background-image: url('../resources/Main_banner_mobile.png');
        background-size: cover;
    }

    .intro-inner__desc {

        bottom: 15px;
        left: 15px;
        width: 312px;
        height: 88px;
        font-size: 16px;
        line-height: 21.86px;
    }
}