@import url(../styles/intro.css);
@import url(../styles/about-us.css);
@import url(../styles/project.css);
@import url(../styles/service.css);
@import url(../styles/reviews.css);
@import url(../styles/gallery.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);
@import url(../styles/headlines.css);
@import url(../styles/pop-up.css);
@import url(../styles/header.css);
@import url(../styles/burger.css);
@import url(../styles/buttons.css);


html{

    scroll-behavior: smooth;
}

body {

    font-weight: 400;
    font-family: 'Manrope';
    background: #FFFFFF;
}

.body_fixed {

    overflow: hidden;
}

p, div, a, h1, h2, h3, button {

    letter-spacing: -0.03em;
    color: #121212;
    text-align: left;
    font-family: 'Manrope';
}

.container {

    margin: 0 auto;
    width: 1150px;
}

/* Планшет */

@media (max-width: 1199px) {

    .container {

        width: 100%;
        padding: 0 15px 0 15px;
    }
}

/* Мобильное устройство */   

@media (max-width: 767px) {

    .container {

        padding: 0 12px 0 13px;
    }
}

