.services {

/* Отступ секции */
    padding-top: 149px;
    padding-bottom: 150px;
    background: #121212;
}

.services__title-main {

    padding-top: 2px;
    padding-left: 2px;
    width: 66px;
    height: 25px;
    color: white;
}

.services__list {
/*отступ сета блоков сверху*/
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 86px;
}

.service {

    padding-left: 2px;
    width: calc(50% - 4.5px);
    position: relative;
}

.service__title {

    margin-top: 23px;
    padding-left: 2px;
    width: 100%;
    height: 41px;
    font-size: 30px;
    line-height: 40.98px;
    color: white;
}

.service__desc {

    position: absolute;
    display: block;
    top: 32px;
    left:31px;
    padding: 5px 22px 5px 20px;
    border-color: #AD1818;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30.05px;
}

 /* Планшет */

 @media (max-width: 1199px) {


    .services {
        /* Отступ секции */
            padding-top: 147px;
            padding-bottom: 120px;
        }

        .service {

            width: calc(50%-5px);
        }

        .services__list {

            row-gap: 79px;
            }

        .service__img {

            width: 100%;
            height: 315px;
        }

        .service__title {

            margin-top: 14px;
            padding-left: 1px;
            font-size: 25px;
            line-height: 34.15px;
        }

        .service__desc {

            left:32px;
            padding: 7px 26px 6px 27px;
            font-size: 20px;
            line-height: 27.32px;
        }
 }

 /* Мобильное устройство */

@media (max-width: 767px) {

    .services {

        /* Отступ секции */
            padding-top: 78px;
            padding-bottom: 80px;
        }

        .services__title-main {

            width: 78px;
            height: 19px;
        }

        .services__list {
        /*отступ сета блоков сверху*/
            margin-top: 22px;
            row-gap: 49px;
            flex-direction: column;
        }
        
        .service {

            width: 100%;
        }

        .service__img {

            height: 240px;
            width: 100%;
        }

        .service__title {

            margin-top: 8px;
            font-size: 18px;
            line-height:24.59px;
        }

        .service__desc {

            top: 23px;
            left: 24px;
            padding: 5px 23px 6px 24px;
            border-radius: 4px;
            font-size: 14px;
            line-height: 19.12px;
        }
}

